@import url('https://fonts.googleapis.com/css?family=Karla');

html {
  font-size: 18px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  align-items: center;
  font-family: Karla, sans-serif;
  display: flex;
  min-height: 100vh;
}

main {
  flex: 1 1 auto;
}

.container {
  margin: 0 auto;
  max-width: 480px;
}

h1 {
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
}

input {
  border: 1px solid #dedede;
  border-radius: 4px;
  font-family: inherit;
  font-size: 1rem;
  margin-bottom: 1rem;
  padding: .5rem .75rem;
  width: 100%;
}

button {
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
  padding: .5rem .75rem;
}

button.login {
  background: #2070FF;
  color: white;
}

button.logout {
  background: #ccc;
  color: inherit;
}

img {
  border-radius: 4px;
  margin-bottom: 1rem;
  width: 100%;
}

.text-right {
  text-align: right;
}
